<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">

			<center>
				<figure class="second">
				 
				  <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/tuks.png" style="width: 250px">
				</figure>
				</center>


		</div>
		<div class="col-sm-4">
			<center>
				<figure class="second">
				 
					<img src="{{ site.url }}{{ site.baseurl }}/images/logopic/sarb.png" style="width: 150px">
				</figure>
				</center>
			
		  
		</div>
		<!-- <div class="col-sm-4">
		  Contact:<br />
		  Tukkiewerf Building, University of Pretoria<br />
		  Lynnwood Road, Pretoria, South Africa<br />
			</div> -->
		<div class="col-sm-4">
			<center>
				<figure class="second">
				 
					<img src="{{ site.url }}{{ site.baseurl }}/images/logopic/logo.png" style="width: 100px">
				</figure>
				</center>
			
		  
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
